body {
    display: flex;
    flex-wrap: wrap;
}

.panel {
    height: 96vh;
    padding: 4rem;
    flex: 1 1 50%;
    opacity: 1;
    overflow-y: scroll;
    overflow-x: initial;
    transition: opacity .1s ease, flex .2s ease;
} .panel.hidden {
    flex: 0 1 0%;
    opacity: 0;
} .panel::-webkit-scrollbar {
    width: .5em;
    height: .5em;
} .panel::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .1);
} .panel::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .2);
}

#input {
    font-family: monospace;
    font-size: 16px;
    background-color: #F9F9F9;
    border: none;
    outline: none;
    resize: none;
}

#statusbar {
    height: 4vh;
    padding: .25rem;
    background-color: var(--cmdYellow);
    flex: 0 0 100%;
}

/* PREVIEW CSS ONLY */
#output * {
	max-width: 100%;
}

#statusbar button {
	background: black;
	color: white;
	width: unset;
	display: inline-block;
	margin: unset;
	padding: .25rem 1rem;
	height: unset;
	border: none;
	border-radius: 0;
	box-shadow: none;
}