@import url("common.css");

section.hero-image {
    display: flex;
    flex-direction: row;
    background-image: url(../images/cmd_daantjebons_0025_big.jpg);
    height: 90%;
    height: 90vh;

    background-repeat: no-repeat;
    background-size: cover;

    /* background-size: 130%;
    background-position-x: -350px;
    background-position-y: -100px; */
}

.hero-image__image {
    margin: auto 5% auto auto;
}

.hero-image__image img {
    width: 144px;
    width: 9em;
    height: auto;
}

.hero-image__icon {
    width: 15%;
}

.hero-image__textblock {
    margin-right: auto;
    margin: auto auto auto 5%;
}

.hero-image__textblock p {
    font-size: 48px;
    font-size: 3em;
}

.hero-image .icon {
    position: absolute;
    bottom: 20%;
    bottom: 10vh;
    left: 5%;
    left: 5vw;
}

section.cmd {
    background-color: #FFF021;
    background-color: var(--cmdYellow);
    display: flex;
    flex-direction: row;
}

.cmd__image {
    width: 35%;
    margin: auto 0;
}

.cmd__image .primary-image {
    width: 100%;
    filter: #FFFFFF;
    filter: var(--imgShadowWhite);
}

.cmd__textblock {
    width: 50%;
    width: var(--text-block-width);
    margin-right: 10%;
}

section.subjects {
    display: flex;
    flex-direction: row;
}

.subjects__image {
    width: 40%;
    margin: auto 0;
}

.subjects__image .primary-image {
    width: 100%;
    filter: var(--imgShadowYellow);
    margin-left: 24px;
    margin-left: 1.5em;
}

.subjects__textblock {
    width: 50%;
    width: var(--text-block-width);
    margin-left: 5%;
}

section.studentenwerk {
    background-color: #FFFFFF;
    background-color: var(--cmdWhite);
}

.studentenwerk h2 {
    text-align: center;
}

.studentenwerk .articles {
    display: flex;
    flex-direction: row;
}

.studentenwerk__article {
    width: 33%;
    margin: 0 1%;
}

.studentenwerk img {
    width: 100%;
}

.studentenwerk a {
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 31%;
}

.studentenwerk__article p {
    margin-top: 0.1em;
}

.studentenwerk a::before {
    content: url(../images/share.svg);
    position: absolute;
    right: 120%;
    transform: rotate(367deg) scale(2, -2);
    bottom: 30px;
    width: 60px;
    opacity: 0.5;
}

.studentenwerk a::after {
    content: url(../images/share.svg);
    position: absolute;
    right: -130px;
    transform: rotate(360deg) scale(-2);
    bottom: 30px;
    width: 60px;
    opacity: 0.5;
}

section.grow {
    display: flex;
    flex-direction: row;
}

.grow__image {
    width: 30%;
}

.grow__image img {
    width: 100%;
}

.grow__textblock {
    width: 70%;
    margin-left: 5%;
}

.grow__textblock .icon-section {
    right: 10%;
}

.grow__textblock ul {
    padding-left: 32px;
    padding-left: 2em;
}


section.work-together {
    background-color: #FFF021;
    background-color: var(--cmdYellow);
    flex-direction: row;
    display: flex;
}

.work-together__image {
    width: 25%;
    margin: auto 0;
}

.work-together__image .primary-image {
    width: 100%;
    filter: var(--imgShadowWhite);
}

.work-together__textblock ul {
    padding-left: 32px;
    padding-left: 2em;
}

.work-together__textblock {
    width: 60%;
    margin-right: 10%;
}

.work-together a {
    box-shadow: 0px 4px 0px #FFFFFF;
    box-shadow: 0px 4px 0px var(--cmdShadowWhite);
}

section.contact {
    background-color: #242424;
    background-color: var(--cmdBlack);
}

.contact h2 {
    color: white;
}

.contact__form {
    display: flex;
    flex-direction: row;
}

.contact-form-left {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-right: 16px;
    margin-right: 1em;
}

.contact-form-right {
    display: flex;
    flex-direction: column;
    width: 66%;
}

.contact form input,
.contact form textarea {
    border: none;
    padding: 16px 24px;
    padding: 1em 1.5em;
    margin: 0.5em 0;
    margin: 8px 0;
    min-width: 100%;
    font-size: 16px;
    resize: none;
}

.contact form textarea {
    height: 100%;
}

.contact .dropbtn {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    box-shadow: none;
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: 16px 24px;
    padding: 1em 1.5em;
    margin-top: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 16px;
    margin: 8px 0;
    font-weight: 300;
    background: #fff url('../images/arrow-down.svg') no-repeat;
    background-size: 20px;
    background-position: 370px 20px;
}

.contact .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 8px;
    margin-bottom: 0.5em;
    margin-top: 8px;
    margin-top: 0.5em;
}

.contact .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: none;
    z-index: 1;
    width: 100%;
}

.contact .dropdown-content a {
    text-align: left;
    color: black;
    padding: 16px 24px;
    padding: 1em 1.5em;
    text-decoration: none;
    display: block;
    background-color: white;
    box-shadow: none;
}

.contact .dropdown:hover .dropdown-content {
    display: block;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
    color: black;
    font-weight: 300;
}

.contact .contact__btn {
    width: 100%;
}

.contact button.btn--secondary {
    margin-top: 8px;
    margin-top: 0.5em;
    width: 33%;
    margin-left: auto;
    text-align: center;
}

.contact button.btn--secondary:hover,
.contact button.btn--secondary:focus {
    transition: 300ms;
    opacity: 0.9;
}

section.staff {
    background-color: #FFFFFF;
    background-color: var(--cmdWhite);

    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    margin-top: 2em;
}

.card__name {
    margin-top: 8px;
    margin-top: 0.5em;
}

.card__phone {
    line-height: 4;
}

/* Banner */
section.banner {
    background-color: #FFF021;
    background-color: var(--cmdYellow);

    display: flex;
    align-items: center;

    padding: 0;
}

.banner .banner__title {
    font-size: 32px;
    font-size: 2em;
    font-weight: 400;
    margin-right: 32px;
    margin-right: 2em;
    left: 0;
    margin-left: auto;
    text-transform: uppercase;
}

.banner .banner__button {
    text-decoration: none;
    background-color: #242424;
    background-color: #242424;
    background-color: var(--cmdBlack);
    color: white;
    padding: 16px 24px;
    padding: 1em 1.5em;
    right: 0;
    text-transform: uppercase;
    box-shadow: none;
    border-radius: 0;
    width: 30%;
    margin: 32px 16px 32px 0px;
    margin: 2em 1em 2em 0em;
    margin-right: auto;
}

/* Footer */
footer.footer {
    background-color: #242424;
    background-color: var(--cmdBlack);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
}

.footer .footer__logo {
    display: inherit;
    margin-left: 80px;
}

.footer .footer__logo img {
    width: 200px;
}

.footer .footer__copyright {
    color: #FFFFFF;
    color: var(--cmdWhite);
    align-self: center;
    margin-left: 40px;
    flex-grow: 1;
}

.footer .footer__social {
    display: flex;
    margin-right: 80px;
}

.footer .footer__social li {
    margin: 10px;
    cursor: pointer;
    width: 20px;
}

.footer .footer__social li a {
    width: 25px;
    height: 25px;
    background-size: cover;
    position: absolute;
}

.footer .footer__social li a:hover {
    opacity: .5;
}

.footer .footer__social li a#twitter-logo {
    background-image: url('../images/social/twitter-logo.svg');
}

.footer .footer__social li a#facebook-logo {
    background-image: url('../images/social/facebook-logo.svg');
}

.footer .footer__social li a#vimeo-logo {
    background-image: url('../images/social/vimeo-logo.svg');
}

.footer .footer__social li a#linkdin-logo {
    background-image: url('../images/social/linkdin-logo.svg');
}

#top-button {
    box-shadow: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    line-height: 1;
    height: 50px;
    font-size: 18px;
    text-align: center;
    padding: 0;
    cursor: pointer;
    background-color: #242424;
    background-color: var(--cmdBlack);
    color: #FFFFFF;
    color: var(--cmdWhite);
    text-decoration: none;
    font-weight: 700;
    padding-top: 15px;
    z-index: 99;
    opacity: 0;
    transition: opacity .5s ease;
}

#top-button:hover {
    background-color: #222;
}

#top-button.visible {
    opacity: 1;
}

@media(max-width: 1050px) {
    .hero-image__textblock p {
        margin-left: 16px;
        margin-left: 1em;
    }
}

@media(max-width: 1000px) {
    .cmd__image {
        width: 50%;
    }

    .work-together__image {
        width: 50%;
    }

    section.staff {
        justify-content: space-between;
        padding: 48px;
        padding: 3em;
    }
}

@media(max-width: 800px) {
    .hero-image__textblock p {
        font-size: 32px;
        font-size: 2em;
        margin-left: 0;
    }

    .studentenwerk a {
        width: auto;
    }

    .cmd__textblock p:nth-of-type(2) {
        display: none;
    }

    .subjects__image .primary-image {
        margin-left: 0;
    }

    .subjects p:nth-of-type(2) {
        display: none;
    }

    .work-together__textblock p:nth-of-type(2) {
        display: none;
    }

    section.staff {
        flex-wrap: wrap;
        width: 100%;
        padding: 0;
    }

    .staff .staff__card {
        width: 50%;
        text-align: center;
        margin: 8px 0px;
        margin: 0.5em 0;
    }

    .footer .footer__logo {
        margin-left: 0;
    }

    .footer .footer__social {
        margin-right: 0;
    }
}

@media(max-width: 650px) {
    section.hero-image {
        height: 60%;
        height: 60vh;
    }

    .hero-image__textblock {
        margin: 0 auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .hero-image__image {
        display: none;
    }

    .hero-image__textblock p {
        font-size: 16px;
        text-align: center;
    }

    .studentenwerk .articles .studentenwerk__article {
        width: 50%;
    }

    .studentenwerk .articles .studentenwerk__article:last-child {
        display: none;
    }

    .studentenwerk a:before,
    .studentenwerk a:after {
        content: "";
    }

    .studentenwerk a {
        width: 100%;
    }

    section.cmd {
        flex-direction: column;
    }

    .cmd__textblock {
        width: 90%;
        margin: 0 auto;
    }

    .cmd__textblock h2 {
        text-align: center;
    }

    .cmd__image {
        display: none;
    }

    .subjects__image .primary-image {
        filter: none;
    }

    .subjects__textblock {
        width: 90%;
        margin: 0 auto;
    }

    .subjects__textblock h2 {
        text-align: center;
    }

    .subjects__image {
        display: none;
    }

    .subjects__image .primary-image {
        filter: none;
    }

    section.grow {
        flex-direction: column;
    }

    .grow__image .primary-image {
        filter: none;
    }

    .grow__textblock {
        width: 90%;
        margin: 0 auto;
    }

    .grow__textblock h2 {
        margin-top: 5%;
        text-align: center;
    }

    .grow__image {
        width: 50%;
        margin: 0 auto;
    }

    .grow__image .primary-image {
        width: 90%;
        filter: none;
    }

    section.work-together {
        flex-direction: column;
    }

    .work-together__textblock {
        width: 90%;
        margin: 0 auto;
    }

    .work-together__textblock h2 {
        text-align: center;
    }

    .work-together__image {
        display: none;
    }

    .contact .contact__form {
        flex-direction: column;
    }

    .contact .contact__form * {
        width: 100%;
    }

    .contact form textarea {
        height: 150px;
    }

    .contact button.btn--secondary {
        width: 100%;
        text-align: center;
    }

    section.banner {
        flex-direction: column;
        padding: 16px;
        padding: 1em;
    }

    .banner .banner__title {
        margin: 0 auto;
        margin-bottom: 8px;
        margin-bottom: 0.5em;
        text-align: center;
    }

    .banner .banner__button {
        margin: 0 auto;
        width: 50%;
    }
}

@media(max-width: 450px) {
    section.hero-image {
        background-size: cover;
        height: 50%;
        height: 50vh;
    }

    .hero-image__textblock {
        margin-top: 20%;
    }

    .hero-image__textblock p {
        font-size: 14px;
    }

    .studentenwerk .articles {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .studentenwerk .articles .studentenwerk__article {
        width: 100%;
    }

    .studentenwerk .articles .studentenwerk__article:nth-of-type(2) {
        margin-top: 1em;
    }

    .grow__image {
        width: 75%;
    }

    .banner .banner__button {
        width: 100%;
    }

    .footer .footer__copyright {
        margin-left: 0;
    }

    .footer .footer__social {
        margin-right: 0;
    }
}

@media(max-width: 400px) {
    .hero-image__textblock p {
        font-size: 12px;
    }

    section.staff {
        flex-direction: column;
    }

    .staff .staff__card {
        width: 100%;
    }
}