body {
   font-family: var(--cmdFont);
   color: var(--cmdBlack);
   font-size: 16px;
}

h1 { font-size: var(--h1-size); }
h2 { font-size: var(--h2-size); }
h3 { font-size: var(--h3-size); }
h4 { font-size: var(--h4-size); }
h5 { font-size: var(--h5-size); }
h6 { font-size: var(--h6-size); }
p { font-size: var(--p-size); margin: 1em 0;}

button,
section a{
   background-color: var(--cmdBlack);
   color: var(--cmdWhite);
   box-shadow: 3px 3px 0px var(--cmdShadow);
   border-radius: var(--button-radius);
   padding: 1em 3em;
   font-size: inherit;
   text-align: center;
}

.header{
    /*position: absolute;*/
    width: 100%;
}

.header__nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0.6em 1em 0.5em 1em;
}

.header__nav-list li:nth-of-type(1) {
    display: block;
    flex-grow: 1;
    margin: 0;
}

.header__nav-list li {
    margin: 0 1em;
}

.header__nav-list a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: black;
    font-size: 0.75em;
    font-weight: 700;
    text-transform: uppercase;
}


.header__nav-list li a:hover {
    border-bottom: 0.25em solid black;
    height: 1.8em;
}

.header__nav-list li a:focus{
    border-bottom: 0.25em solid black;
    height: 1.8em;
}


.header__nav-list li:nth-of-type(1) a:hover{
    border-bottom: none;
}

.header__nav-list li:nth-of-type(1) a:focus{
    border-bottom: none;
}

.header__nav-list li:nth-of-type(1) a {
    color: transparent;
    background-image: url(../images/cmd_hva_logo_black-1.png);
    height: 2.1em;
    background-size: contain;
    background-repeat: no-repeat;
}

.header__nav-list li:nth-of-type(8) {
    background-image: url(../images/search-icon.svg);
    background-size: cover;
    width: 1.2em;
    height: 1.2em;
    color: transparent;
}

.header__nav-list li:nth-of-type(9) {
    background-image: url(../images/dutch.png);
    background-size: contain;
    width: 2em;
    height: auto;
    color: transparent;
    background-repeat: no-repeat;
}

.header__nav-list li:nth-of-type(10) {
    background-image: url(../images/english.png);
    background-size: contain;
    width: 2em;
    height: auto;
    color: transparent;
    background-repeat: no-repeat;
}

a{
    text-decoration: none;
    color: black;
}

.header__nav-list li:nth-of-type(8) a:hover,
.header__nav-list li:nth-of-type(9) a:hover,
.header__nav-list li:nth-of-type(10) a:hover{
    border-bottom: none;
}

.header__nav-list li:nth-of-type(8) a:focus,
.header__nav-list li:nth-of-type(9) a:focus,
.header__nav-list li:nth-of-type(10) a:focus{
    border-bottom: none;
}

.header__nav-list li:nth-of-type(8) a,
.header__nav-list li:nth-of-type(9) a,
.header__nav-list li:nth-of-type(10) a{
    color: transparent;
}


section {
    padding: var(--section-padding);
    margin-top: -3em;
}

section.round-corners{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

section.hero-image {
    display: flex;
    flex-direction: row;
    background-image: url(../images/header-cmd-3.jpg);
    height: 90vh;
/*    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;*/

    background-repeat: no-repeat;
    background-size: 120%;
    background-position: left -240px top -90px;
}

.hero-image__image{
    left: 0;
    margin: auto 0 0 auto;
}

.hero-image__image img{
    width: 9em;
    height: auto;
}

.hero-image__textblock{
    right: 0;
    margin: auto  5%;
}


.hero-image__textblock p{
    font-size: 18px;
    line-height: 2em;
}

section.cmd {
    background-color: var(--cmdYellow);
    display: flex;
    flex-direction: row;
}

.cmd__image{
    width: 35%;
}

.cmd__image img{
    width: 100%;
    filter: var(--imgShadowGrey);
}

.cmd__textblock{
    width: var(--text-block-width);
    margin-right: 10%;
}

section.subjects {
    background-color: var(--cmdGrey);
    display: flex;
    flex-direction: row;
}

.subjects__image{
   width: 40%;
}

.subjects__image img{
    width: 100%;
    filter: var(--imgShadowYellow);
    margin-left: 1.5em;
}

.subjects__textblock{
    width: var(--text-block-width);
    margin-left: 5%;
}



section.portfolio {
    background-color: var(--cmdWhite);

}

.portfolio .articles{
    display: flex;
    flex-direction: row;
}

.portfolio__article{
    width: 33%;
    margin: 0 1%;
}

.portfolio__article img{
    width: 100%;
}

.portfolio a{
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 31%;
}

.portfolio__article p{
    margin-top: 0.1em;
}

.portfolio a::before{
    content: url(../images/share.svg);
    position: absolute;
    right: 415px;
    transform: rotate(367deg) scale(2, -2);
    bottom: 30px;
        width: 60px;
        opacity: 0.5;
}

.portfolio a::after{
    content: url(../images/share.svg);
    position: absolute;
    right: -130px;
    transform: rotate(360deg) scale(-2);
    bottom: 30px;
        width: 60px;
        opacity: 0.5;
}

section.grow {
    display: flex;
    flex-direction: row;
    background-color: var(--cmdGrey);
}

.grow__image{
    width: 30%;
}

.grow__image img{
    width: 100%;
}

.grow__textblock{
    width: 70%;
    margin-left: 5%;
}


section.work-together {
    background-color: var(--cmdWhite);
    flex-direction: row;
    display: flex;
}

.work-together__image{
    width: 40%;
}

.work-together__image img{
    width: 100%;
    filter: var(--imgShadowYellow);
}

.work-together__textblock ul{
    padding-left: 2em;
}

.work-together__textblock{
    width: 60%;
    margin-right: 5%;
}

section.contact {
    background-color: var(--cmdBlack);
}

section.staff {
    background-color: var(--cmdWhite);
}

section.banner {
    background-color: var(--cmdYellow);
}

footer.footer {
    background-color: var(--cmdBlack);
}
