@import url("common.css");

body {
    font-family: var(--cmdFont);
    color: var(--cmdBlack);
    font-size: 16px;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

h6 {
    font-size: var(--h6-size);
}

p {
    font-size: var(--p-size);
}

button,
section a,
.btn {
    background-color: var(--cmdBlack);
    color: var(--cmdWhite);
    box-shadow: 3px 3px 0px var(--cmdShadow);
    border-radius: var(--button-radius);
    padding: 0.5em 2em;
    font-size: inherit;
    text-align: center;
    cursor: pointer;
}

.btn--secondary {
    box-shadow: none;
    background-color: var(--cmdYellow);
    border-radius: 0;
    border: none;
    color: var(--cmdBlack);
}

section {
    padding: var(--section-padding);
    margin-top: -3em;
}

section.round-corners {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

section.hero-image {
    background-image: url();
}

section.cmd {
    background-color: var(--cmdYellow);
}

section.subjects {
    background-color: var(--cmdGrey);
}

section.portfolio {
    background-color: var(--cmdWhite);
}

section.grow {
    background-color: var(--cmdGrey);
}

section.work-together {
    background-color: var(--cmdWhite);
}

section.contact {
    background-color: var(--cmdBlack);

    padding-top: 5em;
    padding-bottom: 5em;
}

.contact h2 {
    color: white;
}

.contact__form {
    display: flex;
    flex-direction: row;
}

.contact-form-left {
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-right: 1em;
}

.contact-form-right {
    display: flex;
    flex-direction: column;
    width: 66%;
}

.contact form input,
.contact form textarea {
    border: none;
    padding: 1em 1.5em;
    margin: 0.5em 0;
    min-width: 100%;
    font-size: 16px;
    resize: none;
}

.contact form textarea {
    height: 100%;
}

.contact .dropbtn {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    box-shadow: none;
    width: 100%;
    border-radius: 0;
    text-align: left;
    padding: 1em 1.5em;
}

.contact .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.contact .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: none;
    z-index: 1;
    width: 100%;
}

.contact .dropdown-content a {
    text-align: left;
    color: black;
    padding: 1em 1.5em;
    text-decoration: none;
    display: block;
    background-color: white;
    box-shadow: none;
}

.contact .dropdown-content a:hover {
    background-color: var(--cmdGrey);
}

.contact .dropdown:hover .dropdown-content {
    display: block;
}

.contact .dropdown:hover .dropbtn {
    background-color: var(--cmdGrey);
}

.contact form input::placeholder,
.contact form textarea::placeholder {
    color: black;
    font-weight: 300;
}

.contact .contact__btn {
    width: 100%;
}

.contact button.btn--secondary {
    margin-top: 0.5em;
    width: 33%;
    float: right;
}

.contact button.btn--secondary:hover,
.contact button.btn--secondary:focus {
    transition: 300ms;
    opacity: 0.9;
}

section.staff {
    background-color: var(--cmdWhite);

    display: flex;
    justify-content: space-around;
    margin-top: 0;
}

.card__name {
    margin-top: 0.5em;
}

.card__phone {
    line-height: 4;
}

/* Banner */
section.banner {
    background-color: var(--cmdYellow);

    display: flex;
    align-items: center;

    margin-top: 0;
}

.banner .banner__title {
    font-size: 2em;
    font-weight: 400;
    margin-right: 2em;
    left: 0;
    margin-left: auto;
}

.banner .banner__button {
    text-decoration: none;
    background-color: var(--cmdBlack);
    color: white;
    padding: 1em 1.5em;
    right: 0;
    margin-right: auto;
    text-transform: uppercase;
    box-shadow: none;
    border-radius: 0;
}

/* Footer */
footer.footer {
    background-color: var(--cmdBlack);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.footer .footer__copyright {
    color: var(--cmdWhite);
    align-self: center;
    margin-left: 40px;
}

.footer .footer__social {
    display: flex;
    margin-right: 80px;
}

.footer .footer__social li {
    margin: 10px;
    cursor: pointer;
    width: 20px;
}

.footer .footer__social li a {
    width: 25px;
    height: 25px;
    background-size: cover;
    position: absolute;
}

.footer .footer__social li a:hover {
    opacity: .5;
}

.footer .footer__social li a#twitter-logo {
    background-image: url('../images/social/twitter-logo.svg');
}

.footer .footer__social li a#facebook-logo {
    background-image: url('../images/social/facebook-logo.svg');
}

.footer .footer__social li a#vimeo-logo {
    background-image: url('../images/social/vimeo-logo.svg');
}

.footer .footer__social li a#linkdin-logo {
    background-image: url('../images/social/linkdin-logo.svg');
}

.back-to-top {
    box-shadow: none;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 50px;
    line-height: 1;
    height: 50px;
    font-size: 18px;
    text-align: center;
    padding: 0;
    cursor: pointer;
}

.back-to-top:hover {
    background-color: #222;
}